{% extends "base.html" %}

{% block header-block %}

<div id="headerwrap">
<div class="container">
<div class="row">

<div class="container">
    <div class="row">
        {% if sent %}

            <h1 class="white-label">Fear Not</h1>
            <h5>Your email has been sent</h5>

        {% else %}

            <h1 class="white-label">Password Reset</h1>

            <div class="login-area">

                <a href="#"><div class="fb-button"><h4>Login with <i class="fa fa-facebook fa-lg"></i>acebook</h4></div></a>

                <div class="hline-form"></div>

                <h5>Enter your email and you will be saved</h5>

                <div class="error-area">
                    {% for error in errors %}
                    <i class="fa fa-exclamation-circle error-mark"></i> <li class="errorlist">{{ error }}</li>
                    {% endfor %}
                </div>

                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-theme">Reset</button>
                </form>

            </div>

        {% endif %}

    </div><! --/row -->
</div><! --/container -->

</div>
</div>
</div>

{% endblock %}

{% block main-block %}{% endblock %}