{% extends "base.html" %}

{% load formtags %}

{% block header-block %}

<div id="headerwrap">
<div class="container">
<div class="row">

<div class="container">
    <div class="row">
        {% if changed %}

            <h1 class="white-label">Good Job</h1>
            <h5>You have successfully changed your password</h5>

        {% else %}

            {% if reset %}
                <h1 class="white-label">Password Reset</h1>

                <div class="login-area">
                    <h5>Enter your new password</h5>

                    {% if pass_form.password.errors %}
                        <i class="fa fa-exclamation-circle error-mark"></i> {{ pass_form.password.errors }}
                    {% endif %}
            
                    <form role="form" method="post">
                    {% csrf_token %}
                    
                    {% for field in pass_form %}

                    <div class="form-group">
                        {{ field | add_attributes:'class=form-control,required' }} 
                    </div>

                    {% endfor %}

                    <button type="submit" class="btn btn-theme">Reset Password</button>

                	</form>
                </div>
            {% else %}
                <h3>WTF MANNNNNN</h3>
            {% endif %}

        {% endif %}
    </div><! --/row -->
</div><! --/container -->

</div>
</div>
</div>

{% endblock %}

{% block main-block %}{% endblock %}