{% extends "base.html" %}

{% load formtags %}

{% block header-block %}

<div id="headerwrap">
<div class="container">
<div class="row">

<div class="container">
    <div class="row">

        {% if registered %}

            <h1 class="white-label">Thank You for Signing Up</h1>
            <h5>A confirmation email has been sent to you</h5>

        {% else %}

            <h1 class="white-label">Sign Up</h1>

            <div class="login-area">

                <!--<a href="#"><div class="fb-button"><h4>Login with <i class="fa fa-facebook fa-lg"></i>acebook</h4></div></a>

                <div class="hline-form"></div>-->

                {% if user_form.username.errors %}
                    <i class="fa fa-exclamation-circle error-mark"></i> {{ user_form.username.errors }}
                {% elif user_form.email.errors %}
                    <i class="fa fa-exclamation-circle error-mark"></i> {{ user_form.email.errors }}
                {% elif user_form.password.errors %}
                    <i class="fa fa-exclamation-circle error-mark"></i> {{ user_form.password.errors }}
                {% endif %}
        
                   <form role="form" method="post">
                    {% csrf_token %}
                    
                    {% for field in user_form %}

                    <div class="form-group">
                        {{ field | add_attributes:'class=form-control,required' }} 
                    </div>

                    {% endfor %}

                    <button type="submit" class="btn btn-theme">Sign Up</button>

                </form>

            </div>

        {% endif %}

    </div><! --/row -->
 </div><! --/container -->

<!-- St.Patty's Day 2015 -->
<!-- A night to remember -->

</div>
</div>
</div>

{% endblock %}

{% block main-block %}{% endblock %}