{% extends "base.html" %}

{% load formtags %}

{% block header-block %}

<div class="container">
    <div class="row">

        {% if registered %}

            <h1 class="white-label">Thank You for Signing Up</h1>

        {% else %}

            <h1 class="white-label">Sign Up</h1>

                <div class="error-area">
                    {% for field in user_form %}

                        {{ field.errors }}

                    {% endfor %}
                </div>

            <form role="form" method="post">
                {% csrf_token %}
                
                {% for field in user_form %}

                <div class="form-group">
                    {{ field | add_attributes:'class=form-control,required' }}    
                </div>

                {% endfor %}

                <button type="submit" class="btn btn-theme">Sign Up</button>

            </form>

        {% endif %}

    </div><! --/row -->
 </div><! --/container -->

<!-- St.Patty's Day 2015 -->
<!-- A night to remember -->

{% endblock %}

{% block main-block %}{% endblock %}