{% extends "base.html" %}

{% block header-block %}

<div class="col-lg-8 col-lg-offset-2">
  <h3>Welcome to Sunami</h3>
  <h1>The Global Music Community</h1>  
</div>
<div class="col-lg-8 col-lg-offset-2 himg">
  <h1><a href="#" class="btn btn-theme"><i class="fa fa-plus fa-fw fa-lg"></i>  Create Stream</a></h1>
</div>

{% endblock %}

{% block main-block %}

<div id="service">
  <div class="container">
    <div class="row centered">
      <div class="col-md-4">
        <i class="fa fa-heart-o"></i>
        <h4>Handsomely Crafted</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-flask"></i>
        <h4>Retina Ready</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-trophy"></i>
        <h4>Quality Theme</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
      </div>
    </div>
  </div><! --/container -->
</div><! --/service -->

{% endblock %}